/EnigmaClient/nbproject/private/
/EnigmaSuperClientt/build/
/EnigmaSuperClientt/nbproject/private/
/EnigmaClient/build/
/enigma_alpha_v1.0/EnigmaSuperClient/build/
/enigma_alpha_v1.0/EnigmaSuperClient/nbproject/private/